<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
  </head>

  <body>
    <div class="navbar-wagon">
  <!-- Logo -->
      <a href="/articles" class="navbar-wagon-brand">Wikinimous</a>
  <!-- Right Navigation -->
      <div class="navbar-wagon-right hidden-xs hidden-sm">
        <%= link_to "New article", new_article_path, class: "navbar-wagon-item navbar-wagon-link" %>
      </div>
    </div>

  <div class="container">
    <%= yield %>
  </div>

  </body>
</html>
